@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: url(../maxresdefault.jpg)  no-repeat;
		background-size: cover;
		background-repeat:repeat-y;
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}
.header{
	padding:20px 0 0 0;;
	}
img,h1{max-width:100%;}
.login{
	position: absolute;
	height: auto;
	width: 350px;
	padding: 30px 0 30px 0;
	z-index: 2;
}

.login input[type=text]{
	width: 260px;
	height: 50px;
	background:transparent;
	border: 3px solid rgb(3, 59, 251);
	border-radius: 2px;
	color: #0089ff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	text-align:center;
}

.login input[type=password]{
	width: 260px;
	height: 50px;
	background: transparent;
	border: 3px solid rgb(3, 59, 251);
	border-radius: 2px;
	color: #0089ff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 4px;
	margin-top: 10px;
	text-align:center;
	}
	.lo{
	text-transform:lowercase;
}

.login button[type=submit]{
	width: 260px;
	height: 40px;
    background: rgb(205, 220, 57);
    border: 4px solid #fff;
    cursor: pointer;
    border-radius: 90px;
	color: #0089ff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	margin-top: 10px;
}

.login button[type=submit]:hover{
	opacity: 0.8;
}

.login button[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 4px solid rgb(255, 193, 7);
	opacity: 0.8;
	background: #000;
}

.login input[type=password]:focus{
	outline: none;
	border: 4px solid rgb(255, 193, 7);
	opacity: 0.8;
	background: #000;

}
.login input[type=password]:hover{
	border-collapse:collapse;
	border-color: #FF0;
	border: 4px solid #03A9F4;
	border-bottom: 4px dotted #17BB23;
    border-top: 4px dotted #03A9F4;
    border-left: 4px dotted #FF9800;
    border-right: 4px dotted #ff9800;
    -moz-box-shadow: #000 4px 4px 20px;
}
.login input[type=text]:hover{
	border-collapse:collapse;
	border-color: #FF0;
	border: 4px solid #03A9F4;
	border-bottom: 4px dotted #17BB23;
    border-top: 4px dotted #03A9F4;
    border-left: 4px dotted #FF9800;
    border-right: 4px dotted #ff9800;
    -moz-box-shadow: #000 4px 4px 20px;
}
.login button[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

#running-text {
    background-color: #000;
    color: #FFF;
    font-size: 12px;
    position: fixed;
    font-family: arial;
    bottom: 0px;
    height: 20px;
    width: 100%;
    left: 0px;
    z-index: 10000;
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.footer{color:#fff;text-align:center;line-height:20px;background:#d3171e;padding:20px 0;border-top:solid 1px #a50006;margin:20px 0 0 0;}.footer p,.footer a{color:#fff;}.footer a:hover{color:#fff;}.footer a{font-weight:700;}