/* Site settings */
body {background-color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0em;}
a {text-decoration:underline;}
a:link {color:#B2080B; cursor:pointer;}
a:visited {color:#B2080B;}
a:hover {color:#FF8200;}
a * {color:#B2080B;text-decoration:underline;}
sup {font-size:0.7em; vertical-align: 0.3em;}
sub {font-size:0.7em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_ap {position: absolute; border:none;}
.xr_ae {position: relative; border:none;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}
.xr_c_Theme_Color_1 {color:#B2080B;}
.xr_c_Theme_Color_2 {color:#FF8200;}
.xr_c_Website_Backdrop {color:#E8E3DD;}
.xr_c_Text {color:#220000;}
.xr_c_Theme_Color_3 {color:#190000;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_c_Page_Background {color:#FFFFFF;}
