 body{
		background: url(../img/bgs.jpg) repeat fixed;
		font-family: 'Lato';
		}
.f{
	padding:20px 5px 0 5px;
	background: #F4F4F4;
	}
.ft{
	padding:9px 2px 1px 0;
	background: url(../img/ft.png) repeat-x;
	margin:10px 0 5px 0;
	}
.h{
	padding:20px 0 0 0;;
	}
.l,.s{
	background: #F4F4F4;
	padding:0;
	}
#slid{
	height:273px;
	background-color:#0cceba;
	}
#tempatlogin{
	height:273px;
	background-color:#0cceba;
	padding:5px 0 10px 0;
	float:right;}
img{max-width:100%;}
.txt{
	background: url(../img/txt.png) no-repeat;
	/*padding:15px;*/
	border: 1px solid #fff;
	border-radius:7px;
	width:80%;
	cursor:pointer;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);	
	background: #fff;	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);}
.txt:hover{
	border: 1px solid #F3771B;
	background:url(../img/txtaf.png) no-repeat;
	}
#lower{
	text-transform:lowercase;
}
.txt:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
.lg{font-size:23px; font-family: Tahoma, Geneva, sans-serif; color:#F9864F;}

.btn-success:hover{
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px0 15px 0;
    background-color: #FFC107;
    border-color: #FFC107;
}
.btn-warning:hover{
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px0 15px 0;
    background-color: #d9534f;
    border-color: #FFC107;
}
.btn-danger:hover{
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px0 15px 0;
    background-color: #FFC107;
    border-color: #FFC107;
}
.btn-warning,.btn-success{
    color: #fff;
    font-weight: bold;
    border-color: #FFC107;
}
.btn-danger{
    color: #fff;
    font-weight: bold;
    border-color: #FFC107;
}